#!/bin/sh

#xrandr --dpi 156
#export GDK_SCALE=2
setbg &
sxhkd &	# Set the background
# Switch to US international with Caps as Mod/Escape
#setxkbmap -option caps:super -variant altgr-intl && killall xcape 2>/dev/null ; xcape -e 'Super_L=Escape' &
xsetroot -cursor_name left_ptr &
xset r rate 500 30 &	# Speed xrate up
xset s off -dpms &
unclutter &		# Remove mouse when idle
dunst &                 # dunst for notifications
#xrandr --output LVDS1 --mode 1366x768 --output HDMI1 --mode 1920x1080 --right-of LVDS1 &
picom --experimental-backends &
#sleep 2s && ~/.config/polybar/launch.sh &
#blueberry-tray &
#xrandr --output HDMI1 --primary --mode 1920x1080 --output LVDS1 --off
/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 &
xwallpaper --zoom --stretch ~/.config/wallpaper.png &
#zathura $HOME/.local/share/Magyarch-spectrwm.pdf &
sleep 2s && notify-send 'Nyomja meg a Super+F1-et a használati utasításért.' -t 10000 &
#~/.local/bin/statusbar/bar-toggle.sh &
udiskie &
#-------------------------------------------------------------








